/* resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* [BARU] Tambahkan kode ini untuk animasi saat scroll */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.scrolled {
    opacity: 1;
    transform: translateY(0);
}